.reveal ul, .reveal ul * ul {
	list-style: none;
	list-style-type: none;
}

.reveal li {
  padding-bottom: 0.3em;  
}

.reveal div#staticnav {
	height: 30px;
  width: 40px;
	overflow: hidden;
	font-size: 50%;
}

.reveal div#staticnav:hover {
	height: auto;
  width: auto;
}

.reveal .fa {
	font-family: 'FontAwesome';
	font-style: normal;
  	text-rendering: auto;
}

.reveal .fa-2x {
	font-size: 200%;
}

.reveal section img {
	border: none;
}

.reveal section .photowrapper {
  font-size: 50%;
  display: inline-block;
}

.reveal section div.component div {
	display: inline-block;
	color: black;
}

.reveal * .inline {
  display: inline;
}

.reveal * div.component {
	padding: 5px;
	background-color: #aaa;
	display: inline-block;
}
.reveal section img {
	background: none;
	box-shadow: none;
}

.reveal section .attribution {
	font-size: 50%;
	line-height: 1;
}
